In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup as bs
from pprint import pprint
import time
from lxml import html

file_to_load = "Export_Sales_Full.csv"
exports_data = pd.read_csv(file_to_load, index_col=0)

In [5]:
exports_df = pd.DataFrame(exports_data)

In [6]:
exports_df.head()

,Week,Month,Year,Marketing Year,Country,Commodity,Commodity Type,Marketing Year Start or End,Unit,Weekly Exports CMY,Accumulated Exports CMY,Outstanding Sales CMY,Gross Sales CMY,Net Sales CMY,Total Commitments CMY,Outstanding Sales NMY,Net Sales NMY,Marketing Month,"Net Sales, Total","Outstanding Sales, Total"
Date,,,,,,,,,,,,,,,,,,,,
1/6/00,1,1,2000,1999,ALGERIA,Corn,NaN,NaN,Metric Tons,20997,331575,0,0,20997,331575,0,0,5,20997,0
1/6/00,1,1,2000,1999,ALGERIA,Wheat,Durum,NaN,Metric Tons,27500,256862,0,2500,27500,256862,0,0,8,27500,0
1/6/00,1,1,2000,1999,ALGERIA,Wheat,HRW,NaN,Metric Tons,0,181050,0,0,0,181050,0,0,8,0,0
1/6/00,1,1,2000,1999,AUSTRALIA,Soybeans,NaN,NaN,Metric Tons,0,8842,0,0,0,8842,0,0,5,0,0
1/6/00,1,1,2000,1999,BAHRAIN,Corn,NaN,NaN,Metric Tons,0,16500,0,0,0,16500,0,0,5,0,0

In [7]:
exports_df.dropna()

,Week,Month,Year,Marketing Year,Country,Commodity,Commodity Type,Marketing Year Start or End,Unit,Weekly Exports CMY,Accumulated Exports CMY,Outstanding Sales CMY,Gross Sales CMY,Net Sales CMY,Total Commitments CMY,Outstanding Sales NMY,Net Sales NMY,Marketing Month,"Net Sales, Total","Outstanding Sales, Total"
Date,,,,,,,,,,,,,,,,,,,,
6/1/00,22,5,2000,1999,ALGERIA,Wheat,Durum,ENDING MY,Metric Tons,0,418863,0,0,0,418863,0,0,12,0,0
6/1/00,22,5,2000,1999,ALGERIA,Wheat,HRW,ENDING MY,Metric Tons,0,231297,25000,0,0,256297,50000,25000,12,25000,75000
6/1/00,22,5,2000,2000,ALGERIA,Wheat,HRW,STARTING MY,Metric Tons,0,0,50000,50000,25000,50000,0,0,1,25000,50000
6/1/00,22,5,2000,1999,ARGENTINA,Wheat,White,ENDING MY,Metric Tons,0,0,17,0,0,17,17,0,12,0,34
6/1/00,22,5,2000,2000,ARGENTINA,Wheat,White,STARTING MY,Metric Tons,0,0,17,17,0,17,0,0,1,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/6/19,22,6,2019,2019,UNKNOWN,Wheat,SRW,STARTING MY,Metric Tons,0,0,220500,65500,32000,220500,0,0,1,32000,220500
6/6/19,22,6,2019,2019,UNKNOWN,Wheat,White,STARTING MY,Metric Tons,0,0,68925,37440,-7240,68925,0,0,1,-7240,68925
6/6/19,22,6,2019,2019,VIETNAM,Wheat,HRS,STARTING MY,Metric Tons,0,0,66000,45000,23000,66000,0,0,1,23000,66000
6/6/19,22,6,2019,2019,VIETNAM,Wheat,HRW,STARTING MY,Metric Tons,0,0,1000,0,0,1000,0,0,1,0,1000
6/6/19,22,6,2019,2019,VIETNAM,Wheat,White,STARTING MY,Metric Tons,0,0,22000,14000,7000,22000,0,0,1,7000,22000

In [8]:
html = exports_df.to_html()

In [13]:
 # executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [14]:
# define url
# USDA_url = "https://agtransport.usda.gov/resource/wnn7-29tu.json"
#browser.visit(USDA_url)

In [15]:
# create beautiful soup object 
#html = browser.html
#soup = bs(html, 'html.parser')

In [16]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [17]:
# Define database and collection
db = client.exports_db
collection = db.Supply_Chain

In [18]:
db.collection.insert_many(exports_df.to_dict('records'))